body {
  background-image: url("../images/mjdunking.jpg");
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#start-page {
}
#end-page {
  display: none;
}

.display-3 {
  font-family: "Graduate", cursive;
  margin-bottom: 20px;
  font-size: 6vw;
  color: #fff00f;
  background: rgba(75, 74, 74, 0.4);
  text-shadow: -4px 0 black, 0 1px rgb(5, 5, 5), 1px 0 #0000,
    0 -2px rgb(226, 224, 226);
  border-style: solid;
  border-color: #fff00f;
  padding-top: 0;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw;
  color: #fff00f;
  text-align: center;
  background: rgba(75, 74, 74, 0.5);
  text-shadow: -2px 0 black, 0 0px rgb(5, 5, 5), 1px 0 #0000,
    0 0px rgb(226, 224, 226);
  border-style: solid;
  border-color: #fff00f;
}
label {
  font-size: 16px;
}

#end-page p {
  font-size: 20px;
}

#correct-answers {
  margin-top: 32px;
}

#question {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
}

#timer {
  margin-top: 20px;
}
#start-button {
  margin: auto;
  background-color: black;
  color: white;
  border-color: gray;
}
#done-button {
  margin-top: 20px;
}
